@page "/products"
@using global::Shared.Models.Catalogs
@using global::Shared.Services.Repository;
@inject IRepository<Product<Guid>,Guid> Repository

<h3>Products</h3>

@if (ProductsList == null)
{
    <p><em>Loading...</em></p>
}
else
{
    @for (int i = 1; i < @ProductsList.Count<Product<Guid>>(); i++)
    {

        <tr>
            <td>@i.ToString()</td>
            <td>@(ProductsList.ElementAt<@Product<Guid>>(i).Id.ToString())</td>
            <td>@(ProductsList.ElementAt<@Product<Guid>>(i).Name.ToString())</td>
            <td>@(ProductsList.ElementAt<@Product<Guid>>(i).FullName.ToString())</td>
            <td>@(ProductsList.ElementAt<@Product<Guid>>(i).CreatedAt.ToString())</td>
            <td>@(ProductsList.ElementAt<@Product<Guid>>(i).UpdatedAt.ToString())</td>
            <td>@(ProductsList.ElementAt<@Product<Guid>>(i).Article.ToString())</td>
        </tr>
    }
}




@code {
    public IEnumerable<Product<Guid>> ProductsList { get; set; }

    private int pageCurrent = 1;

    private int pageSize = 25;

    private int tottalItems = 1;


    protected override Task OnInitializedAsync()
    {
        GetProducts();
        return null;
    }

    private async Task GetProducts()
    {
        var sorts = "name";
        //ToDo ProductsList = await Repository.GetAsync(sorts: sorts, pageSize: pageSize, pageCurrent: pageCurrent);
    }
}
