@page "/products"
@using WebClient.Helpers.Pagination
@using WebClient.Components
@using global::Shared.Models.Dtos
@using global::Shared.Models.Catalogs
@using global::Shared.Services.Repository
@inject IRepository<Product<Guid>,Guid> repository

<PageTitle>Products</PageTitle>

<h1>Products</h1>
<p>Product list</p>
<SearchComponent OnSearchCallback="@OnSearchChange"></SearchComponent>

    @if (pagination != null && pagination.TotalPages() > 1)
    {
        <PaginationComponent pagination="@pagination" CalbackOnChange="PaginationOnChange"></PaginationComponent>
    }
@if (products == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <table class="table">
    <thead>
        <tr>
            <th>N</th>
            <th>Article</th>
            <th>Name</th>
            <th>Full name</th>
            <th>Description</th>
            <th>Image</th>
        </tr>
    </thead>
    <tbody>
        @for ((int e, int num) = (0, pagination.Skip + 1); (e < pagination.Take&&num<=pagination.TotalItems); e++, num++)
            {
                <tr>
                    <td>@((num).ToString())</td>
                    <td>@(products.ElementAtOrDefault(e)?.Article)</td>
                    <td>@(products.ElementAtOrDefault(e)?.Name)</td>
                    <td>@(products.ElementAtOrDefault(e)?.FullName)</td>
                    <td>@(products.ElementAtOrDefault(e)?.Description)</td>
                    <td>@(products.ElementAtOrDefault(e)?.MainImageUrl)</td>
                </tr>
            }
        </tbody>
    </table>
}
@code {
    private IEnumerable<ProductDTO<Guid>>? products { get; set; } = null;
    public Pagination? pagination { get; set; } = new Pagination();
    protected override async Task OnInitializedAsync()
    {
        await Update();
    }
    public async Task Update(string search = default, string filter = default, string sorts = default, int take = default, int skip = default, int curentPage = default)
    {
        if (take == default)
        {
            take = pagination.Take;
        }
        if (skip == default)
        {
            skip = curentPage == default ? 0 : take * (curentPage - 1);
        }

        var request = await repository.GetAsync<ProductDTO<Guid>>(search: search, filter: filter, sorts: sorts, take: take, skip: skip);
        products = request.Item1;
        pagination = new Pagination(request.Item2, skip, take);
    }
    public async Task OnPageSelected(int curentPage)
    {
        await Update(curentPage: curentPage);
    }
    public async Task OnSearchChange(string search){
        await  Update(search: search);
    }

    public async Task PaginationOnChange (Pagination newPagination)
    {
        if (newPagination.CurentPage!= pagination.CurentPage
        || newPagination.Take != pagination.Take
        || newPagination.TotalPages != pagination.TotalPages
        )
        {
            pagination = newPagination;
            await Update();
        }
       
    }
}
