@page "/products"
@using WebClient.Components
@using WebClient.Helpers.Pagination
@using global::Shared.Models.Dtos
@using global::Shared.Models.Catalogs
@using global::Shared.Services.Repository
@inject IRepository<Product<Guid>, Guid> _repository

<PageTitle>Products</PageTitle>
<h1>Products</h1>
<SearchComponent OnSearchCallback="@OnSearchChange"></SearchComponent>
@if (pagination != null && pagination?.TotalPages() > 1)
{
    <PaginationComponent pagination="@pagination" CalbackOnChange="@OnPaginationChange"></PaginationComponent>
}
@if (products == default)
{
    <p><em>Loading...</em></p>
}
else
{
    <table class="table">
    <thead class="thead-dark">
        <tr>
            <th scope="col">N</th>
            <th scope="col">Article</th>
            <th scope="col">Name</th>
            <th scope="col">Full name</th>
            <th scope="col">Description</th>
            <th scope="col">Image</th>
        </tr>
    </thead>
    <tbody>
        @for ((int e, int num) = (0, pagination.Skip + 1); (e < pagination.Take && num <= pagination.TotalItems); e++,
           num++)
            {
                <tr>
                    <td>@((num).ToString())</td>
                    <td>@(products.ElementAtOrDefault(e)?.Article)</td>
                    <td>@(products.ElementAtOrDefault(e)?.Name)</td>
                    <td>@(products.ElementAtOrDefault(e)?.FullName)</td>
                    <td>@(products.ElementAtOrDefault(e)?.Description)</td>
                    <td>@(products.ElementAtOrDefault(e)?.MainImageUrl)</td>
                </tr>
            }
        </tbody>
    </table>
}

@code {
    private IEnumerable<ProductDTO<Guid>>? products { get; set; } = default;
    private WebClient.Helpers.Pagination.Pagination? pagination { get; set; } = new Pagination();
    protected override async Task OnInitializedAsync()
    {
        await Update();
        await base.OnInitializedAsync();
    }
    private async Task Update(string search = default, string filter = default, string sorts = default, int take = default,
    int skip = default)
    {
        if (take == default)
        {
            take = pagination.Take;
        }
        if (skip == default)
        {
            skip = pagination.Skip;
        }
        var response = await _repository.GetAsync<ProductDTO<Guid>>(search: search, filter: filter, sorts: sorts, take: take,
        skip: skip);
        this.products = response.Item1;
        this.pagination = new Pagination(totalItems: response.Item2, skip: skip, take: take);
    }
    private async Task OnSearchChange(string search)
    {
        await Update(search: search);
    }

    private async Task OnPaginationChange()
    {
        await Update();
    }
}
